<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3>About Me</h3>
        <hr>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="70">
        <h2>Our Family Tree</h2>
        <p>A journey began in 1987 with a bonding in the name of marriage. Aug 28 is the date, when the seed for the tree was planted. The tree has seen lots of hurricanes, came across n number of struggles and now it’s in a stage where the tree lives as an epitome for other plants who are in their budding stages and give them confidence not to give-up. Finally, about the fruits from the tree. A strange happening, 3 different variety of fruits from the same tree. An <b>A</b>pple, A <b>V</b>oavanga and a <b>C</b>antaloupe.</p>
        <p>Our family tree has touched a milestone of 30th Anniversary by this 2018. <em>The Valleys</em>, a successful chain by the bonding of Kala and Valliappan.</p>
      </div>
      <div fxFlex="30">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
            <h2>Facts At a Glance</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <dl>
              <dt>Started</dt>
              <dd>27 Aug. 1987</dd>
              <dt>Valley's Family</dt>
              <dd>Just began.</dd>
              <dt>Members</dt>
              <dd>5</dd>
            </dl>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  
  <div fxFlex>
    <mat-card>
      <blockquote>
        <h3>Family tree branched out and let 3 precious fruits out of it</h3>
        <footer>-- Anonymous,
          <cite>Anonymous at Anonymous city,
            Anonymous State, 2018</cite>
        </footer>
      </blockquote>
    </mat-card>
  </div>


  <div fxFlex>
    <h2>Family Tree Structure</h2>
    <mat-list *ngIf="wholeFamily" [@expand]>
        <mat-list-item *ngFor="let family of wholeFamily">
          <img mat-list-avatar src="{{ baseURL + family.image }}" alt={{family.name}}>
          <h4 matLine> {{family.name}} - {{family.relation}}</h4>
            <p matLine>{{family.description}}
            </p>
        </mat-list-item>
      </mat-list>
      <div [hidden]="wholeFamily || errMess">
          <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
      </div>
      <div *ngIf="errMess">
        <h2>Error</h2>
        <h4>{{errMess}}</h4>
      </div>
  </div>
</div>