<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3>About Me</h3>
        <hr>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="70">
        <h2>Our Family Tree</h2>
        <p>Started in 1987, Ristorante con Fusion quickly established itself as a culinary icon par excellence in Hong Kong. With its unique brand of world fusion cuisine that can be found nowhere else, it enjoys patronage from the A-list clientele in Hong Kong.  Featuring four of the best three-star Michelin chefs in the world, you never know what will arrive on your plate the next time you visit us.</p>
        <p>The restaurant traces its humble beginnings to <em>The Frying Pan</em>, a successful chain started by our CEO, Mr. Peter Pan, that featured for the first time the world's best cuisines in a pan.</p>
      </div>
      <div fxFlex="30">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
            <h2>Facts At a Glance</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <dl>
              <dt>Started</dt>
              <dd>27 Aug. 1987</dd>
              <dt>Valley's Family</dt>
              <dd>Just began.</dd>
              <dt>Members</dt>
              <dd>5</dd>
            </dl>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  
  <div fxFlex>
    <mat-card>
      <blockquote>
        <h3>Family tree branched out and let 3 precious fruits out of it</h3>
        <footer>-- Anonymous,
          <cite>Anonymous at Anonymous city,
            Anonymous State, 2018</cite>
        </footer>
      </blockquote>
    </mat-card>
  </div>


  <div fxFlex>
    <h2>Family Tree Structure</h2>
    <mat-list *ngIf="wholeFamily" [@expand]>
        <mat-list-item *ngFor="let family of wholeFamily">
          <img mat-list-avatar src="{{ baseURL + family.image }}" alt={{family.name}}>
          <h4 matLine> {{family.name}} {{family.abbr}}</h4>
            <p matLine> {{family.designation}}</p>
            <p matLine>{{family.description}}
            </p>
        </mat-list-item>
      </mat-list>
      <div [hidden]="wholeFamily || errMess">
          <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
      </div>
      <div *ngIf="errMess">
        <h2>Error</h2>
        <h4>{{errMess}}</h4>
      </div>
  </div>
</div>