<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3>Contact Me</h3>
        <hr>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" fxFlexOffset="20px">
        <h4>My Address</h4>
        <address>
          221B, Baker Street, Clear Water Bay Road<br>
          Opp High School,<br>
          Coimbatore-41<br>
          <i class="fa fa-phone"></i>: +91 99944 42292<br>
          <i class="fa fa-fax"></i>: +91 99944 42292<br>
          <i class="fa fa-envelope"></i>: 
                <a href="mailto:confusion@food.net">centhilvalliappan@outlook.com</a>
        </address>
        <p></p>
        <div>
          <a mat-raised-button color="warn" href="tel:+91 9994442292"><i class="fa fa-phone"></i> Call</a>
          <a mat-raised-button color="accent"><i class="fa fa-skype"></i> Skype</a>
          <a mat-raised-button color="warn" href="mailto:centhilvalliappan@outlook.com"><i class="fa fa-envelope-o"></i> Email</a>
        </div>
      </div>
      <div fxFlex="40">
        <h4>Map of our Location</h4>
        <div>
          <button mat-raised-button color="primary" (click)="setMapType('terrain')">Terrain</button>
          <button mat-raised-button color="warn" (click)="setMapType('satellite')">Satellite</button>
          <button mat-raised-button color="accent" (click)="setMapType('roadmap')">Road Map</button>
        </div>
        <div #gmap style="width:100%;height:400px"></div>
      </div>
    </div>
  </div>

  <div fxFlex fxFlexOffset="20px" class="form-size">
    <h3>Send us your Feedback</h3>

    <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()" *ngIf="showForm" [@expand]>
      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
          <mat-error *ngIf="formErrors.firstname">{{formErrors.firstname}}</mat-error>
        </mat-form-field>
        <mat-form-field class="half-width left-spacing">
          <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
          <mat-error *ngIf="formErrors.lastname">{{formErrors.lastname}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="telnum" placeholder="Tel. Number" type="tel" pattern="[0-9]*" required>
          <mat-error *ngIf="formErrors.telnum">{{formErrors.telnum}}</mat-error>
        </mat-form-field>
        <mat-form-field class="half-width left-spacing">
          <input matInput formControlName="email" placeholder="Email" type="email" email required>
          <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
        </mat-form-field>
      </p>
      <table class="form-size">
        <td>
          <mat-slide-toggle formControlName="agree">May we contact you?</mat-slide-toggle>
        </td>
        <td>
          <mat-select placeholder="How?" formControlName="contacttype">
            <mat-option *ngFor="let ctype of contactType" [value]="ctype">
              {{ ctype }}
            </mat-option>
          </mat-select>
        </td>
        </table>
      <p>
        <mat-form-field class="full-width">
          <textarea matInput formControlName="message" placeholder="Your Feedback" rows=8></textarea>
        </mat-form-field>
      </p>
      <button type="submit" mat-raised-button class="background-primary text-floral-white" [disabled]="feedbackForm.invalid">Submit</button>
    </form>
    <div [hidden]="showForm || submitted" [@expand]>
      <h3>Submitting Form</h3>
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="submitted" [@expand]>
      <h3>Your Submission</h3>
        <p>First Name: {{submitted.firstname}}</p>
        <p>Last Name: {{submitted.lastname}}</p>
        <p>Tel. Number: {{submitted.telnum}}</p>
        <p>Email: {{submitted.email}}</p>
        <p>Contact You?: {{submitted.agree}}</p>
        <p>How?: {{submitted.contacttype}}</p>
        <p>Feedback: {{submitted.message}}</p>
    </div>
  </div>
</div>