<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

    <mat-card *ngIf="soloPic" fxFlex [@expand] routerLink="/solo">
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>
            <h3>Solo Pictures</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ baseURL + soloPic.image}}" alt={{soloPic.name}}>
      <mat-card-content>
        <p>{{soloPic.description}}
        </p>
      </mat-card-content>
    </mat-card>
    <div *ngIf="soloPicErrMess">
      <h2>Error</h2>
      <h4>{{soloPicErrMess}}</h4>
    </div>

    <mat-card *ngIf="groupPic" fxFlex [@expand] routerLink="/group">
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>
          <h3>Group Pictures</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ baseURL + groupPic.image }}" alt={{groupPic.name}}>
      <mat-card-content>
        <p>{{groupPic.description}}
        </p>
      </mat-card-content>
    </mat-card>
    <div [hidden]="(soloPic || soloPicErrMess) && (groupPic || groupPicErrMess) && (family || familyErrMess)">
        <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
    </div>
    <div *ngIf="groupPicErrMess">
      <h2>Error</h2>
      <h4>{{groupPicErrMess}}</h4>
    </div>

    <mat-card *ngIf="family" fxFlex [@expand] routerLink="/aboutme">
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>
          <h3>Family</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ baseURL + family.image }}" alt={{family.name}}>
      <mat-card-content>
        <p>{{family.designation}}</p>
        <p>{{family.description}}
        </p>
      </mat-card-content>
    </mat-card>
    <div *ngIf="familyErrMess">
      <h2>Error</h2>
      <h4>{{familyErrMess}}</h4>
    </div>
</div>